/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

   @keyframes fade-in {
       from {opacity:0;}
       to {opacity:1;}
   }

   @keyframes arrow-animate {
       0% {background-position: center 0px;}
       50% {background-position: center 20px;}
       100% {background-position: center 20px;}
   }

   @keyframes slide-fade {
       from {transform:translateY(30px); opacity:0;}
       to {transform:translateY(0px); opacity:1;}
   }

   @keyframes image-scale {
       from {transform:scale(2); opacity:0;}
       to {transform:scale(1); opacity:1;}
   }

.blog-post-content {
  color: #fff;
  width:100vw;
  height:100vh;
  text-align: center;
  display: flex;
  align-items: center;
  align-content: center;

}

body {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.teal {
    background: #FF6550;
}

.blog-post-content .main-image {
  position: absolute;
  top:50%;
  left:50%;
  transform: translateX(-50%) translateY(-50%) translateZ(-100px);
  z-index: 0;
}

.main-image img {
  animation: image-scale 2s cubic-bezier(0,0,0,1);
  animation-fill-mode: both;
}

   .blog-post-content h1 {
     /* A responsibility gre: */
   font-family: 'Montserrat', sans-serif;
   font-weight: 600;
   font-size: 68px;
   letter-spacing: 0;
   line-height: 1.2;
   animation: slide-fade 600ms 1000ms cubic-bezier(0,0,0,1);
   animation-fill-mode: both;
   margin:0;
   }

   .blog-post-content h1 a{
     /* Multiple Authors: */
      border-bottom:.1em solid transparent;
      text-decoration: none;
      color:white;

   }

   .blog-post-content h1 a:hover {
     /* Multiple Authors: */
      border-bottom:.1em solid white;

   }


 .blog-post-content h6 {
   /* Multiple Authors: */
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 10px;
    letter-spacing: 1.67px;
    text-transform: uppercase;
    animation: slide-fade 600ms 1300ms cubic-bezier(0,0,0,1);
    animation-fill-mode: both;
    margin:0
 }



.blog-post-content p {
  /* thinking about how d: */
font-family: 'Source Sans Pro', sans-serif;
font-size: 20px;
letter-spacing: 0;
animation: slide-fade 600ms 1200ms cubic-bezier(0,0,0,1);
animation-fill-mode: both;
max-width: 24em;
margin: 2em auto 0 auto;
}

.storyarchive {
  /* story archive: */
font-family: 'Montserrat', sans-serif;
font-size: 14px;
color:rgba(255,255,255,.5);
letter-spacing: 0;
position: absolute;
text-decoration: none;
padding-bottom: 30px;
bottom:-100px;
left:50%;
transform:translateX(-50%);
font-family: 'Source Sans Pro', sans-serif;!important;
font-size: 18px!important;
text-transform: none!important;
animation: fade-in 3000ms 1600ms;
animation-fill-mode: both;
}

.storyarchive:hover {
  /* story archive: */
color:rgba(255,255,255,1);
}

.storyarchive:after {
  /* story archive: */
content:"";
display: block;
width:18px;
height:10px;
background-image: url("../img/downarrow.svg");
position: absolute;
bottom:10px;
left:50%;
transform:translateX(-50%);
background-position: center 0px;
transition:500ms;
animation-name: arrow-animate;
animation-duration: 2400ms;
animation-iteration-count: infinite;
animation-fill-mode: both;
}


.text-wrapper {
  position: relative;
  z-index: 1;
  max-width: 800px;
  margin:0 auto 100px auto;
  transform-style: preserve-3d;
}

.main-nav {
  position: fixed;
  z-index: 2;
  right:0;
  left:0;
  bottom:0;
  animation: fade-in 3000ms 1600ms;
  animation-fill-mode: both;
}

.main-nav-content {
  display: flex;
  align-items: center;
  color:#fff;
  transition: 300ms;
}

.main-nav-content:hover {
  background:white;
  color:#FF6550;
}


.logotype {
  position: absolute;
  top:2vh;
  left:0;
  right:0;
  text-align: center;
  animation: fade-in 3000ms 1600ms;
  animation-fill-mode: both;
}

.logotype img{
  width:200px;
}

.main-nav-content > div {
  width:100%;
}

.main-nav h6 {
  /* Time left: */
opacity: 0.7;
font-family: 'Source Code Pro', monospace;
font-size: 10px;
font-weight:600;
letter-spacing: 1.67px;
font-weight: normal;
margin:0;
text-transform: uppercase;
}

.main-nav h5 {
  /* 6d:02h:01m: */
font-family: 'Source Code Pro', monospace;
font-size: 15px;
text-transform: uppercase;
letter-spacing: 0;
font-weight: normal;
margin:0
}

.main-nav a {
  /* what’s this?: */
font-family: 'Source Code Pro', monospace;
font-size: 13px;
text-transform: uppercase;
letter-spacing: 0;
display: inline-block;
}

.main-nav a.link {
  /* what’s this?: */
opacity:.5;
margin-right: 12px;
}

.main-nav a.button {
  padding:1.3em;
  width:auto;
  border-left: 1px solid rgba(255,255,255,.5);
  transition:padding 300ms;
}

.main-nav:hover a.button {
  padding:2em 1.3em;
  border-left: 1px solid rgba(255, 101, 80, 0.13);
}

.main-nav:hover a.button:hover {
  background:rgba(255, 101, 80, 0.13);
}

.story-wrapper {
  height:100vh;
  width:100vw;
  background:white;
}

.main-nav-content .col-1 {
  padding-left:1em;
}

.main-nav-content .col-3 {
  text-align: right;
}

.blog-post-full {
  display:none;
}

body {
  transition: background 1000ms;
}

.showblogpost {
  background:white;
  overflow-y: scroll;
  overflow-x: hidden;
  height: autos;
  width: 100vw;
}

.showblogpost .blog-post-full {
  display:block;
}

.text-wrapper {
  transition: margin 1000ms;
}

.showblogpost .text-wrapper {
  margin:4em auto 0 auto;
}

.blog-post-content{
  transition: 1000ms;
}

.showblogpost.teal .blog-post-content{
  color:#FF6550;
  height:70vh;
  min-height:500px;
  
}

.main-image {
  transition: 1000ms;
}

.showblogpost.teal .main-image {
  opacity:0;
  transform: translateX(-50%) translateY(-20%) translateZ(-100px);
}

.blog-post-full {

}
.blog-post-full-wrapper {
  max-width: 640px;
    margin:0 auto;
    padding-bottom:10vh;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 21px;
    color: #717272;
    letter-spacing: 0;
    line-height: 32px;

    transition: 1000ms;
}

.main-nav {

  transition: 1000ms;
}

.showblogpost.main-nav {
  pointer-events: none;
  opacity:0;
}

.showblogpost .main-nav-content {
  background:white;
  color:#FF6550;
}

.blog-post-content h1 a {
  transition: color 1000ms!important;
}

.showblogpost .blog-post-content h1 a {
  color: #FF6550;
  border-bottom: .1em solid transparent!important;
}

.dropcap {
  display: block;
  line-height: 1;
  float:left;
font-family: 'Montserrat', sans-serif;
font-size: 116px;
color: #FF6550;
letter-spacing: 9.21px;
}

svg #Logo, svg #Designers {
  transition: 1000ms;
}

.showblogpost.teal svg #Logo, .showblogpost.teal svg #Designers {
  fill:#FF6550;
}

svg #Line{
  transition: 1000ms;
}

.showblogpost.teal svg #Line{
  stroke:#FF6550;
}

.logotype {
  transition: 1000ms;
}

.showblogpost .logotype {
  transform:scale(.6);
}

.centered-image {
  display: block;
  margin:0 auto;
  width:100%;
  max-width: 500px;
}

.blog-post-full .pullquote{
  display:inline;
  float:right;
  width:60%;
  margin-left:.3em;
  /* Nam ultricies justo: */
font-family: 'Montserrat', sans-serif;
line-height: 1;
font-weight: 600;
font-size: 58px;
color: #FF6550;
}

.blog-post-full h2,.blog-post-full h3,.blog-post-full h4{
color: #FF6550;
font-family: 'Montserrat', sans-serif;
font-weight: normal;
}

.teal .final-callout {
  background: #FF6550;
  padding:20vh 2em;
  text-align:center;
}

.final-callout p{
  color:white;
  font-size: 2em;
  max-width: 600px;
  margin:0 auto 2em auto;;
font-family: 'Montserrat', sans-serif;

}

.final-callout a{
  display:inline-block;
  color:white;
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
  border-radius: 100px;
  text-decoration: none;
  border:1px solid rgba(255,255,255,.5);
  padding:1em;

}

@media (max-width: 500px) {
  .blog-post-content h1 {
    /* A responsibility gre: */
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 1.2;
  animation: slide-fade 600ms 1000ms cubic-bezier(0,0,0,1);
  animation-fill-mode: both;
  margin:0;
  }

  .blog-post-full .pullquote{
    display:inline;
    float:right;
    width:60%;
    margin-left:.3em;
    /* Nam ultricies justo: */
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  line-height: 1;
  font-size: 24px;
  color: #FF6550;
  }

  .col-3 {
    display:none;
  }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
